$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@font-face{
	font-family: 'PortraitFont';
	src: url('fonts/fontello.ttf') format('truetype'),
	     url('fonts/fontello.svg#webfont') format('svg');
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

#container {
  margin: 80px 10% auto 10%;


  a {
    color: #8e24aa;

    :hover {
      color: #8e24aa;
    }
  }

}

div.modal-content {
  padding: 16px;
}

.loading {
  font-size: 24px;
  line-height: 100px;
  height: 100px;
}

ul.feeds {
  margin: 0;
	padding: 0;
  list-style-type: none;

  li {
    float: left;
    width: 95%;
    min-width: 200px;
    margin-left: 8px;
    margin-right: 8px;


		button.loadmore {
			width: 90%;
			margin-bottom: 16px;
		}

    div.panel-body {
      img {
        width: 100%;
      }
    }

    div.panel-heading {
      img {
        width: 20px;
        height: 20px;
      }
    }
  }

  @media (min-width: 768px) {
    li {
      width: 45%;
    }
  }

  @media (min-width: 1199px) {
    li {
      width: 30%;
    }
  }

	li:last-child {
		width: 100%;
	}

}

div.publish {
  position: fixed;
  bottom: 5%;
  right: 10%;
}

div.comments {
  overflow-y: hidden;

  form.form {
    background-color: #fff;
    padding: 16px;
    position: static;
    border-top: solid 1px #ccc;

    textarea {
      resize: none;
    }
  }

  ul {
		margin: 0;
		padding: 0;
    list-style-type: none;
    max-height: 450px;
    overflow-y: auto;

    li {
      min-height: 100px;
			margin: 8px;

      padding-top: 8px;
      border-bottom: solid 1px #ccc;

      button.portrait {
				float:left;

			  span.portrait {
          font-family: 'PortraitFont';
          font-size: 26px;
          line-height: 26px;
          height: 100%;
          padding: 0;
          margin: 0;
        }
			}

      div {
				float:left;
				padding: 8px;

        p.content {
          font-size: 16px;
        }
        p.info {
          font-size: 12px;
					color: #999;
        }
      }
    }
		 li:last-child {
			 div.row {
				 border-bottom: 0px;
			 }
		 }
  }
}

div.publish {
  textarea {
    resize: none;
  }

  div.togglebutton {
    margin: 16px;
  }
}


@media (max-width: 1199px) {
  .navbar .navbar-text {
      margin-top: 15px;
      margin-bottom: 15px;
  }
}
