<div class="comments">
    <p class="text-center" ng-show="loading">加载中...</p>

    <p class="text-center" ng-show="!loading && comments.length == 0">没有评论</p>

    <ul>
        <li ng-repeat="comment in comments">
          <div class="row">
            <button class="portrait btn btn-fab btn-default col-md-3">
              <span class="portrait" style="color: #{{ comment.avatarColor | color }}">{{ comment.userAvatar }}</span>
            </button>
            <div class="col-md-10">
              <p class="content">{{ comment.content }}</p>
              <p class="info">{{ comment.commentViewTime }} <span class="pull-right">{{ comment.userName }}</span></p>
            </div>
          </div>
        </li>
    </ul>

    <form class="form">
        <div class="form-control-wrapper">
            <textarea ng-model="text" rows="7" class="form-control empty" type="text"></textarea>
            <div class="floating-label">回复内容</div>
            <span class="material-input"></span>
        </div>
        <div class="form-control-wrapper">
          <div class="togglebutton">
              <label>实名
                <input type="checkbox"/>
                <span class="toggle"></span>
              </label>
          </div>
        </div>
        <button ng-click="postComment()" class="btn btn-material-purple-600" ng-hide="loading">评论</button>
    </form>
</div>
