<div class="comments">
    <p class="text-center" ng-show="loading">加载中...</p>

    <p class="text-center" ng-show="!loading && comments.length == 0">没有评论</p>

    <ul>
        <li ng-repeat="comment in comments">
              <button class="portrait btn btn-fab btn-default">
                <span class="portrait" style="color: #{{ comment.avatarColor | color }}">{{ comment.userAvatar }}</span>
              </button>
              <div>
                <p class="content">{{ comment.content }}</p>
                <p class="info">{{ comment.commentViewTime }} <span class="pull-right">{{ comment.userName }}</span></p>
              </div>
        </li>
    </ul>

    <form class="form">
        <div class="form-control-wrapper">
            <textarea ng-model="$parent.postContent" rows="7" class="form-control" type="text"></textarea>
            <div class="floating-label">回复内容</div>
            <span class="material-input"></span>
        </div>
        <div class="form-control-wrapper">
          <div class="togglebutton">
              <label>实名
                <input type="checkbox" ng-checked="realname" ng-model="$parent.realname"/>
                <span class="toggle"></span>
              </label>
          </div>
        </div>
        <button ng-click="postComment()" class="btn btn-material-purple-600" ng-hide="loading">评论</button>
    </form>
</div>
